params {
    outdir = 'results'

    fastq_1 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/fastq/test_1.fastq.gz'
    fastq_2 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/fastq/test_2.fastq.gz'
}

docker {
    enabled = true
}

process {
    executor = 'local'

    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
        time = '30 min'
    }
}