params {
    outdir = 'results'

    fastq_1 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/fastq/test_1.fastq.gz'
    fastq_2 = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/fastq/test_2.fastq.gz'
    fasta = 'references/arabidopsis_tair10_ensembl60/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa'
    gtf = 'references/arabidopsis_tair10_ensembl60/Arabidopsis_thaliana.TAIR10.60.gtf'
    read_length = 250
    samplesheet = 'assets/samplesheet.csv'
    star_sa_index_nbases = 12

}

docker {
    enabled = true
}

process {
    executor = 'local'

    withName: FASTQC {
        cpus = 2
        memory = '2 GB'
        time = '30 min'
    }

    withName: MULTIQC {
        cpus = 1
        memory = '2 GB'
        time = '30 min'
    }

    withName: FASTP {
        cpus = 4
        memory = '4 GB'
        time = '2 h'

    }
    

    withName: FASTQC_TRIMMED {
        cpus = 2
        memory = '2 GB'
        time = '30 min'
    }

    withName: STAR_GENOMEGENERATE {
        cpus = 4
        memory = '4 GB'
        time = '2 h'
    }

    withName: STAR_ALIGN {
        cpus = 4
        memory = '4 GB'
        time = '2 h'
    }
}